.uploadImg-title {
    font-size: 0.30rem;
    color: #666;
    letter-spacing: 0;
    text-align: center;
    margin: 0.55rem 0rem 0.49rem 0rem;
}

.uploadImg-bigImg {
    height: 4.52rem;
    width: 5.12rem;
    margin: 0.09rem 0rem 0.35rem 0rem;
    position: relative;
}

.uploadImg-bigImg-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 3;
}

.uploadImg-bigImg-person {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 1;
}

.uploadImg-bigImg-title {
    height: 0.438rem;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    z-index: 2;
    font-size: 0.28rem;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
}

.uploadImg-item-content {
    width: 82%;
    height: 6.35rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.uploadImg-item-title {
    width: 100%;
    font-size: 0.30rem;
    color: #666;
    letter-spacing: 0;
    text-align: center;
    margin: 0rem 0.20rem 0.10rem 0rem;
}

.uploadImg-item-info {
    height: 0.60rem;
    line-height: 0.60rem;
    display: flex;
    margin-bottom: 0.05rem;
    font-size: 0.30rem;
    justify-content: space-between;
    color: #666;
    letter-spacing: 0;
    margin: 0.2rem 0.2rem 0.2rem 0rem;
}

.uploadImg-item-left {
    width: 0.30rem;
    height: 0.60rem;
}

.uploadImg-item-label {
    border-top: 1px solid #98B5E8;
    border-bottom: 1px solid #98B5E8;
    width: 100%;
    text-align: center;
}

.uploadImg-button {
    bottom: 5%;
    /* background: #85a8e6; */
    border-radius: 4px;
    z-index: 3;
}

.uploadImg-button-text {
    z-index: 3;
    font-size: 0.34rem;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    display: block;
}

.uploadImg-button-image {
    bottom: 5%;
    z-index: 2;
}

.uploadImg-nameInput {
    width: 100%;
    height: 0.80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.30rem;
}

.nameInput {
    width: 5.12rem;
    height: 0.80rem;
    font-size: 0.30rem;
    border: 0.02rem solid #85a8e6;
    padding-left: 0.28rem;
    box-sizing: border-box;
}

.pop {
    width: 100%;
    height: 2.5rem;
    font-size: 0.30rem;
    position: absolute;
    z-index: 5;
    left: 0rem;
    bottom: -2.5rem;
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    background-color: #f8f8f8;

}

.pop li {
    width: 100%;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    background-color: #fff;
}

.pop li:nth-child(1) {
    border-bottom: 0.01rem solid #D8D8D8;
}

.pop li:nth-child(3) {
    margin-top: 0.1rem;
}

.pop-down {
    animation: popDown 0.3s linear forwards;
}

.pop-up {
    animation: popUp 0.3s linear forwards;
}

@keyframes popDown {
    0% {
        bottom: 0rem;
    }

    100% {
        bottom: -2.5rem;
    }

    /* 100% {
        height: 0rem;
    } */
}

@keyframes popUp {
    0% {
        bottom: -2.5rem;
    }

    100% {
        bottom: 0rem;
    }

    /* 
    100% {
        top: 0rem;
    } */
}