/**index.wxss**/
html {
  height: 100%;
}

.container {
  position: relative;
}

.home-background-image {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.home-nav {
  width: 100%;
  height: 10%;
  margin: 55% 0rem 0.3rem 0rem;
  display: flex;
  justify-content: center;
}

.home-info {
  width: 90%;
  height: 33%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(73, 73, 73, 0.5);
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 4;
  padding: 5%;
  box-sizing: border-box;
  align-content: space-between;
}

.home-info-title {
  font-size: 0.34rem;
  color: #666;
  letter-spacing: 0;
  text-align: center;
  margin: 0.58rem 0rem 0.28rem 0rem;
}

.home-info-container {
  font-size: 0.28rem;
  width: 100%;
  height: 55%;
  color: #666;
  letter-spacing: 0;
  text-align: justify;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.home-info-image-container {
  width: 100%;
  height: 25%;
  display: flex;
  font-size: 0.28rem;
  color: #9d7747;
  letter-spacing: 0;
  text-align: justify;
}

.home-info-image-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.home-info-image-info-image {
  width: 0.437rem;
  height: 0.49rem;
  margin-bottom: 0.1rem;
}

.home-info-image-info-text {
  width: 100%;
  text-align: center;
}

.home-button {
  width: 90%;
  height: 0.9rem;
  position: absolute;
  left: 5%;
  bottom: 3%;
}

.home-info-button {
  bottom: 0rem;
  /* background: #85a8e6; */
  border-radius: 4px;
  z-index: 3;
  width: 4.32rem;
  height: 0.8rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.home-info-button::after {
  border: 0;
}

.button-left-image {
  position: absolute;
  width: 45%;
  height: 0.8rem;
  line-height: 0.8rem;
  left: 0.2rem;
}

/* .button-center-image {
  position: absolute;
  width: 45%;
  height: 0.8rem;
  line-height: 0.8rem;
  right: 35%;
} */
.button-center-image {
  position: absolute;
  width: 45%;
  height: 0.8rem;
  line-height: 0.8rem;
  right: 0.2rem;
}
.button-right-image {
  position: absolute;
  width: 30%;
  height: 0.8rem;
  line-height: 0.8rem;
  right: 0.2rem;
}

.home-info-text {
  z-index: 3 !important;
  font-size: 0.25rem;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}

.home-info-button-image {
  bottom: 0rem;
  z-index: 2;
}

.home-background {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
  top: 0rem;
  left: 0rem;
  bottom: 0px;
  right: 0rem;
  display: flex;
  align-items: center;
}

.home-background-container {
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.home-background-top {
  width: 100%;
  height: 0.24rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.home-background-top-image {
  width: 82.3%;
  height: 0.24rem;
  z-index: 8;
}

.home-background-info {
  height: 100%;
  width: 80%;
  display: flex;
  position: relative;
}

.home-background-info-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 6;
}

.home-background-info-text {
  z-index: 7;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
}

.home-info-tongueButton {
  height: 0.48rem;
  width: 0.48rem;
  margin-right: 0.08rem;
}

.home-background-info-text-title {
  margin: 0.74rem 0rem 0.59rem 0rem;
  width: 100%;
  font-size: 0.38rem;
  color: #333;
  letter-spacing: 0;
  text-align: center;
}

.home-background-info-text-info {
  width: 80%;
  font-size: 0.28rem;
  color: #666;
  letter-spacing: 0;
  text-align: justify;
  line-height: 0.4rem;
  height: 6rem;
  overflow: scroll;
}

.home-background-info-text-info div {
  width: 100%;
}

.home-background-info-text-info .title {
  font-weight: bold;
  font-size: 0.32rem;
}

.home-background-info-text-info .text {
  text-indent: 2em;
}

.home-background-info-text-warning {
  width: 100%;
  height: 0.35rem;
  font-size: 0.28rem;
  color: #666;
  letter-spacing: 0;
  line-height: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.home-background-info-text-warning-image {
  width: 0.29rem;
  height: 0.29rem;
  margin-right: 0.2rem;
}

.home-background-info-text-button {
  bottom: 1.07rem;
  /* background: #85a8e6; */
  border-radius: 4px;
  z-index: 6;
}

.home-background-info-text-image {
  bottom: 1.07rem;
  /* background: #85a8e6; */
  z-index: 5;
}

.home-background-info-footer {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  bottom: 0.3rem;
  font-size: 0.28rem;
  color: #666;
  line-height: 0.3rem;
  text-align: center;
}

.home-background-button {
  width: 0.66rem;
  height: 0.66rem;
  position: absolute;
  left: calc(50% - 0.33rem);
  bottom: -1.08rem;
}

.homeLink {
  height: 0.8rem;
  width: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.8rem;
}

.historyButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logout {
  width: 1.4rem;
  height: 0.4rem;
  font-size: 0.3rem;
  position: absolute;
  top: 0.2rem;
  right: 0;
  z-index: 10;
  color: #fff;
  cursor: pointer;
  text-align: right;
  margin-right: 5%;
}

