@import '~antd/dist/antd.css';
@import '~antd-mobile/dist/antd-mobile.css';

* {
  text-size-adjust: 100%;
}

html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
}
#root {
  width: 100%;
  display: flex;
}
.fullContainer {
  height: 100%;
}

.button-group {
  position: absolute;
  width: 4.32rem;
  height: 0.9rem;
  line-height: 0.9rem;
  left: calc(50% - 2.16rem);
  cursor: pointer;
}

.button-image {
  position: fixed;
  width: 4.32rem;
  height: 0.9rem;
  line-height: 0.9rem;
  left: calc(50% - 2.16rem);
}

.online-text {
  text-decoration: underline;
  color: #85a8e6;
}

.ant-skeleton-content .ant-skeleton-paragraph > li,
.ant-skeleton-title {
  height: 0.4rem !important;
}

.loading {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 20% 5%;
  box-sizing: border-box;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container {
  width: 3rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem;
  box-sizing: border-box;
}

.loading-img {
  width: 1rem;
  height: 1rem;
}

.loading-text {
  width: 100%;
  text-align: center;
  font-size: 0.25rem;
}
